@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');
.formTitle {
    font-family: 'Be Vietnam Pro';
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #225560;
    margin-bottom: 50px;
}

.formFields {
    height: 44px;
    width: 329px;
    background-color: #EAEEF6;
    border: 2px;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    gap: 10px;
    margin-right: 90px;
    float: right;
}

.label {
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #383838;
    margin-left: 80px;
}

.formControl {
    width: 100%;
    justify-content: space-between;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.errorMessage {
    float: right;
    margin-right: 290px;
}

.Input {
    height: 44px;
    width: 329px;
    border: 2px solid #225560;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    gap: 10px;
    margin-right: 90px;
    float: right;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.custombutton{
    width: 32px;
    height: 32px;
    background-color: #388697;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
}

.buttonEdit {
    width: 240px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 200px;
    background-color: #225560;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.buttonCancel {
    width: 240px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    margin-right: 200px;
    background-color: white;
    color: #225560;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}