.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }
  
  .modal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 626px;
    height: auto;
    background-color: #fff;
    
  }
  
  .modalheader h2{
    text-align: center;
    color:  #225560;
    font-family: Be Vietnam Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding-top: 44px;
  }
  
  .closebutton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
.modalcontent {
  padding: 49px 45px 31px;
}
